html, body
{
  font-family: Cambria, Georgia, serif;
  font-size: 18px;
}

p {margin-bottom: 1.5rem;}
p, ul, ol {line-height: 1.5;}

article
{
  width: 90ch;
  max-width: 100%;
  margin: auto;
}

h1 {font-size: 1.5rem;}
h2 {font-size: 1.2rem;}
h3 {font-size: 1.0rem;}
h1, h2, h3 {margin-bottom: 0.25rem;}

pre
{
  line-height: 1.0;
  border: 1px solid;
  border-radius: 0.5rem;
  width: max-content;
  min-width: 98%;
  padding: 0.5rem;
}

kbd, code, .address
{
  font-family: Menlo, Consolas, monospace;
  font-size: 0.8em;
}

kbd, p code
{
  font-size: 0.8em;
  border: 1px solid;
  border-radius: 0.2rem;
  padding: 0 0.2rem;
  white-space: nowrap;
}

.address
{
  display: block;
  margin: 0.5rem 1rem;
}

.address time
{
  width: 12ch;
}

footer
{
  font-size: smaller;
}

@media (max-width: 600px)
{
  html, body {font-size: 16px;}

  pre
  {
    overflow-x: scroll;
    width: 95%;
    min-width: 95%;
  }

  .address {margin-bottom: 1rem;}
  .address time {display: block;}
}


@media print
{
  *
  {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  body > *:not(main)
  {
    display: none;
  }

  a[href^='http']:after
  {
    content: ' (' attr(href) ')';
  }
}

/* Colors */

@media (prefers-color-scheme: light)
{
  kbd, p code, pre, hr
  {
    border-color: lightgray;
    background: whitesmoke;
  }
}

@media (prefers-color-scheme: dark)
{
  html {background: #1a1d21; color: #bbd4f0;}
  a {color: #6ab4de;}
  a:visited {color: #958ad4;}

  kbd, p code, pre, hr
  {
    border-color: #677a8f;
    background: #323b47;
  }
}
